:root{
	--light: #fff;
	--dark: #111;
	--accent: #23252f;
	--accentlight: #d9087d;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.5s;
	z-index: 1000;
}

section{
	min-height: 100vh;
}

.logo{
	font-family: 'Wallpoet', cursive;
	text-decoration: none;
	font-weight: 700;
	font-size: 4rem;
	color: var(--light);
	padding-left: 30px ;
}

.nav{
	display: flex;
	list-style: none;
	padding-right: 30px;
}

.nav li a{
	text-decoration: none;
	color: var(--light);
	font-size: 1.2rem;
	padding: 30px;
	transition: 0.5s;
}

.nav li a:hover{
	color: var(--accentlight);
	letter-spacing: 2px;
}

.hamburger{
	position: absolute;
	top: 15px;
	right: 40px;
}

.hamburger .bar{
	display: none;
	width: 30px;
	height: 5px;
	margin: 5px auto;	
	transition: 0.3s ease-in-out;
	background-color: var(--light);
	border-radius: 10px;
}

.home{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--accent);
	/*min-height: 100vh;*/
	/*padding-left: 30px;*/
}

.home .home-text{
	text-align: center;

}

.home .home-text h1{
	font-size: 5rem;
	color: #fff;
}

.home .home-text p{
	font-size: 1.4rem;
	color: #fff;
}

.button{
	font-size: 1rem;
	color: var(--light);
	background: var(--accentlight);
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	border-radius: 5px;
}

.button:hover{
	letter-spacing: 6px;
}

.about{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	/*min-height: 100vh;*/
}

.about h2{
	font-size: 3rem;
	letter-spacing: 1.5px;
	font-weight: 400;
}

.information, .skills{
	flex: 50%;
	padding: 30px;
}

.information p{
	font-size: 1.5rem;
	line-height: 1.7rem;
}

.skills ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.skill{
	text-decoration: none;
	font-size: 1.5rem;
	background-color: #eee;
	margin: 5px;	
	padding: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.projects h2{
	font-size: 3rem;
	letter-spacing: 1.5px;
	font-weight: 400;
	text-align: center;
}

.project-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px;
	text-align: center;
	width: 375px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	transition: 0.3s;
}

.project-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.project-image{
	width: 375px;
	object-fit: cover;
}

.title{
	font-size: 1.7rem;
	margin-bottom: 10px;
}

.subtext{
	font-size: 1.2rem;
}

.view{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}



footer{
	background-color: var(--accent);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 200px;
}

@media (max-width: 768px){
	header{
		flex-direction: column;
		align-items: flex-start;
	}

	.hamburger{
		cursor: pointer;
	}

	.hamburger .bar{
		display: block;
	}
	
	.nav{
		display: none;
		flex-direction: column;
		width: 100%;
		background-color: var(--accent);
	}
	
	.nav li{
		width: 100%;
		text-align: center;
		padding: 10px;
	}

	.nav li:hover{
		color: var(--accentlight);
		letter-spacing: 2px;
	}

	.nav.active{
		display: flex;
	}

	.hamburger.is-active .bar:nth-child(2){
		opacity: 0;
	}

	.hamburger.is-active .bar:nth-child(1){
		transform: translateY(10px) rotate(45deg);
	}

	.hamburger.is-active .bar:nth-child(3){
		transform: translateY(-10px) rotate(-45deg);
	}
}

@media (max-width:  375px){
	.logo{
		padding-left: 10px;
	}

	.hamburger{
		right: 20px;
	}

	.home .home-text h1{
		font-size: 3rem;
	}

	.about p{
		font-size: 1.2rem;
	}

	.skill{
		font-size: 1rem;
	}

	.project-card{
		width: 250px;
	}

	.project-image{
		width: 250px;
	}

}